<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify Email</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif;">

<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="max-width: 650px; margin: 16px auto; background-color: #000000; padding: 20px; font-size: 16px; font-family: Arial, sans-serif;">
    <tr>
        <td style="background-color: #1e293b; color: white; padding: 30px;">
            <div style="text-align: center;">
                <a href="https://www.himalayantrailrunning.com" target="_blank">
                    <img src="https://www.himalayantrailrunning.com/static/media/himalayan-trail-running-logo-vertical.0d747c83927bf5c44213.png" alt="HTR Logo" style="height: 100px; filter: brightness(0) invert(1);">
                </a>
            </div>
            <div style="text-align: center; margin-top: 40px;">
                <div style="text-transform: capitalize; font-weight: 600; font-size: larger; margin-bottom: 20px;">
                    VERIFY EMAIL ADDRESS
                </div>
                <div style="margin-bottom: 15px; line-height: 25px; color: #E3E3E7;">
                    Please confirm that you want to use this email address for Himalayan Trail Running.
                </div>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td align="center">
                            <a href="{{ redirect }}" style="display: inline-block; text-decoration: none; background: #dc2626; color: white; font-weight: 600; padding: 10px 20px; border-radius: 6px;">
                                Verify Email
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 10px; color: #c7c7c7; border-bottom: 2px solid #17152F; font-size: 16px; margin-top: 2rem;">
                <div>
                    Himalayan Trail Running
                </div>
                <div style="display: flex; align-items: center; gap: 10px; cursor: pointer;">
                    <div>
                        <a href="https://www.facebook.com/himalayantrailrunning/">
                            <img src="https://cdn.jsdelivr.net/gh/dmhendricks/signature-social-icons/icons/round-flat-filled/50px/facebook.png" alt="Facebook" width="22" height="22">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/himalayan_trail_running/">
                            <img src="https://cdn.jsdelivr.net/gh/dmhendricks/signature-social-icons/icons/round-flat-filled/50px/instagram.png" alt="Instagram" width="22" height="22">
                        </a>
                    </div>
                </div>
            </div>
            <div style="text-align: center; padding-top: 20px; font-size: 0.875rem; color: #999;">
                Copyright Â© 2023 Himalayan Trail Running
            </div>
        </td>
    </tr>
</table>

</body>
</html>